body{
    font-size: 20px;
    font-family: sans-serif;
}
ul {
    list-style: none;
}


#mainContainer{
    border-radius: 5px solid lightgrey;
    border: 2px;
    position: relative;
}
#timerContainer{
  position: right;
  height: 50%;
  margin-left: 20px;
}

#imgQuestion{
    margin: 0 auto;
    width : 150px;
    height : 100px;

}
#imgQuestion img{

    width : 150px;
    height : 100px;
    border-radius: 5px;

}

#buttons{
  height: 100%;
  width: 100%;
}
