{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}JavaScript game shop{% endblock %}</title>

        {% block header %}

        <!-- Bootstrap core CSS -->
        <link href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'startbootstrap-shop-homepage-gh-pages/css/shop-homepage.css' %}" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
        <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
              crossorigin="anonymous"
              type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'scripts/navigation.js' %}"></script>
        {% endblock %}
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
            <a class="navbar-brand" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#" id="logout">Logout</a>
                    <form id="logoutform" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <input type="hidden">
                    </form>
                </li>
                <li class="nav_item">
                    <a class="nav-link" href="/accounts/edit_profile"> Welcome, {{ user.username }} </a>
                </li>
                <li class="nav_item">
                    <a class="nav-link" href="/accounts/my_games"> My Games </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/accounts/login">Login</a>
                </li>
                {% endif %}
                </ul>
            </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Dawid Worek, Ye Yizhou and Parinaz Avaznejad 2020</p>
            </div>
        </footer>
    </body>
</html>