{% extends "base.html" %}
{% load static %}

{% block title %}Edit profile{% endblock %}

{% block header %}
{{ block.super }}
<script type="text/javascript" src="{% static 'scripts/edit_profile.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container" id="mainContainer">

    <div class="alert alert-success d-none" role="alert" id="alertSuccess">
        Profile updated!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
    <div class="alert alert-danger d-none" role="alert" id="alertFailure">
        Fail to update profile!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h2>Edit your profile here, {{ current_username }}</h2>
    <form class="form-horizontal" id="updateForm">{% csrf_token %}
      <div class="form-group">
        <label class="control-label col-sm-2" for="usrName">Username:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="usrName" placeholder="Enter new username" name="usrName" value="{{ current_username }}">
        </div>
      </div>
      
      {% if is_developer %}
      <div class="form-group">
        <label class="control-label col-sm-2" for="paymentInfo">Seller ID:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="paymentInfo" placeholder="Enter new seller ID" name="paymentInfo" value="{{ current_payment_info }}">
        </div>
      </div>
      {% else %}
      <!-- user is a player, what they can edit except username? -->
      {%endif%}

      <div class="form-group">        
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-dark" id="updateProfileButton">Update</button>
        </div>
      </div>
    </form>
</div>

{% endblock %}