{% extends "base.html" %}
{% load static %}

{% block title %}My Games{% endblock %}

{% block header %}
{{ block.super }}
<link href="{% static 'css/my_games.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container" id="mainContainer">
	{% if is_developer %}
	<form class="form-horizontal" id="addForm" method="GET" action="/games/add">
		{% csrf_token %}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary" id="addButton">Add a new game</button>
			</div>
		</div>
	</form>
	{% endif %}
	<ul>
		{% for game in games %}
		<li>
			<p><a href=/game/{{ game.id }}/{{ game.title }}>{{ game.title }}</a></p>
			<form class="form-horizontal" id="playForm" method="GET" action="/game/{{ game.id }}/{{ game.title }}/play">
        		{% csrf_token %}
        			<div class="form-group">
            			<div class="col-sm-offset-2 col-sm-10">
                			<button type="submit" class="btn btn-primary btn-sm" id="playButton" data-arg1="{{ price }}">Play</button>
            			</div>
        			</div>
			</form>
			{% if is_developer %}
			<form class="form-horizontal" id="editForm" method="GET" action="/game/edit/{{ game.id }}/{{ game.title }}/">
        		{% csrf_token %}
        			<div class="form-group">
            			<div class="col-sm-offset-2 col-sm-10">
                			<button type="submit" class="btn btn-primary btn-sm" id="editButton">Edit</button>
            			</div>
        			</div>
			</form>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</div>

{% endblock %}