{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block header %}
{{ block.super }}

<style>body {font-family:"Open Sans", sans-serif;}</style>
<script type="text/javascript" src="{% static 'scripts/account.js' %}"></script>

{% endblock %}

{% block content %}

<div class="alert alert-success d-none text-center" role="alert" id="alertSuccessChangePassword">
   Your password changed successfull, please login again with your new password!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-danger d-none " role="alert" id="alertFailureChangePassword">
    Fail to change password!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="container d-flex justify-content-center mt-5 mb-5"  id="mainContainer">
    <div class="col-md-6 border" id = "resetFormContainer">
  		  <p class="h4 mb-4 text-center mt-4"><i class="fa fa-unlock-alt"></i>  Change Password</p>
<hr>
        Please enter your new password.

          <form method="post" class="form-horizontal" id="resetPasswordForm">{% csrf_token %}

              <div class="mt-4">
                <input type="text" class="form-control" id="password" placeholder="Enter your new password" name="password">
              </div>
              <div class="mt-4">
                <input type="text" class="form-control" id="passwordConfirm" placeholder="Enter your password again" name="passwordConfirm">
              </div>
  		    <!-- Sign up button -->
  		    <button class="btn btn-primary my-4 btn-block" type="submit" id="resetBtn">  Change Password</button>
  		</form>
    </div>
  </div>
  {% endblock %}
