{% extends "base.html" %}
{% load static %}

{% block title %}Add a game{% endblock %}

{% block header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/show_game.css' %}" />
{% endblock %}

{% block content %}

<div class="container" id="mainContainer">

    <h2>{{ game_name }}</h2>
    
    <h5>
        <p id="developer">
            {{ developer }}
        </p>
    </h5>

    <h6>
        <p id="category">
            {{ category }}
        </p>
    </h6>

    <div id="screenshotImgDiv">
        <img src="{{ screenshot_url }}" id="screenshotImg" />
    </div>

    <div id="descriptionDiv">
        <p id="description">
            {{ game_desc }} Game from examples nfiednjifniefnijefnirgfnijnij Game from examples nfiednjifniefnijefnirgfnijnij Game from examples nfiednjifniefnijefnirgfnijnij Game from examples nfiednjifniefnijefnirgfnijnij Game from examples nfiednjifniefnijefnirgfnijnij
        </p>

        <p id="avgRating">
            {{ avg_rating }} / 5
        </p>

        <p id="dataOfUpload">
            Uploaded {{ upload_date }}
        </p>

    </div>

    {% if is_player and not player_has_this_game %}
    <form class="form-horizontal" id="buyForm" method="POST">
        {% csrf_token %}
        <input type="hidden" name="price" value="{{ price }}">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" id="buyButton" data-arg1="{{ price }}">Buy {{ game_title }} for {{ price }}</button>
            </div>
        </div>
    </form>
    {% endif %}

    {% if is_player and player_has_this_game %}
    <form class="form-horizontal" id="playForm" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary btn-lg" id="playButton" data-arg1="{{ price }}">Play {{ game_title }}</button>
            </div>
        </div>
    </form>
    {% endif %}

</div>

{% endblock %}